<link rel="stylesheet" type="text/css" href="{$_G[siteurl]}source/plugin/hax_rechargedmf/template/img/adminstyle.css?v=1.0">
<script src="{$_G[siteurl]}static/js/calendar.js"></script>
<script type="text/javascript" src="{$_G[siteurl]}source/plugin/hax_rechargedmf/js/jquery-1.12.4.js"></script>
<script>jQuery.noConflict();</script>
<div class="fbody">
<div class="log_top">
    <div class="log_tblock"><div class="ltb_b" style="background:#ff8762;">
        <div class="ltb_ctrl "><h>{if $acountarr['jrcjcount']}{$acountarr['jrcjcount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang54}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['zrcjcount']}{$acountarr['zrcjcount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang64}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['bzcjcount']}{$acountarr['bzcjcount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang65}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['szcjcount']}{$acountarr['szcjcount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang66}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['bycjcount']}{$acountarr['bycjcount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang67}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['sycjcount']}{$acountarr['sycjcount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang68}</p></div>
    </div></div>
    <div class="log_tblock"><div class="ltb_b" style="background:#56bdde;">
        <div class="ltb_ctrl "><h>{if $acountarr['jrcjmoney']}{$acountarr['jrcjmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang55}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['zrcjmoney']}{$acountarr['zrcjmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang69}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['bzcjmoney']}{$acountarr['bzcjmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang70}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['szcjmoney']}{$acountarr['szcjmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang71}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['bycjmoney']}{$acountarr['bycjmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang72}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['sycjmoney']}{$acountarr['sycjmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang73}</p></div>
    </div></div>
    <div class="log_tblock"><div class="ltb_b" style="background:#b198dc;">
        <div class="ltb_ctrl "><h>{if $acountarr['cgzscount']}{$acountarr['cgzscount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang56}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['wzfzscount']}{$acountarr['wzfzscount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang74}</p></div>
        <div class="ltb_ctrl ahide"><h>{if $acountarr['allzscount']}{$acountarr['allzscount']}{else}0{/if}{lang hax_rechargedmf:slang53}</h><p>{lang hax_rechargedmf:slang75}</p></div>
    </div></div>
    <div class="log_tblock"><div class="ltb_b" style="background:#fec400;">
        <div class="ltb_ctrl "><h>{if $acountarr['cgzsmoney']}{$acountarr['cgzsmoney']}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</h><p>{lang hax_rechargedmf:slang57}</p></div>
    </div></div>
</div>
<form name="cpform" method="post" autocomplete="off" action="$pluginurl" id="cpform">
<input type="hidden" name="formhash" value="{FORMHASH}">
<input type="hidden" id="formscrolltop" name="scrolltop" value="">
<input type="hidden" name="anchor" value="">
<div class="log_top" style="padding-right:100px;">
<div class="form_tb" style="min-width:260px;">
    <div class="form_div">
        <b>{lang hax_rechargedmf:slang38}:</b>
        <select name="state">
            <option value="0">{lang hax_rechargedmf:slang39}</option>
            <option value="2" {if $_GET['state']==2}selected="selected"{/if}>{lang hax_rechargedmf:slang40}</option>
            <option value="1" {if $_GET['state']==1}selected="selected"{/if}>{lang hax_rechargedmf:slang41}</option>
        </select>
    </div>
    
    <div class="form_div">
        <b>{lang hax_rechargedmf:slang15}:</b>
        <select name="type">
            <option value="0">{lang hax_rechargedmf:slang39}</option>
            <option value="1" {if $_GET['type']==1}selected="selected"{/if}>{lang hax_rechargedmf:slang27}</option>
            <option value="3" {if $_GET['type']==3}selected="selected"{/if}>{lang hax_rechargedmf:slang29}</option>
        </select>
    </div>
</div>
<div class="form_tb ft_m" style="min-width:332px;">
    <div class="form_div"><b>{lang hax_rechargedmf:slang42}:</b>
    <input name="username" value="$username" type="text" /></div>
    <div class="form_div"><b>{lang hax_rechargedmf:slang11}:</b>
    <input name="orderid" value="$orderid" type="text" /></div>
</div>
<div class="form_tb" style="min-width:465px;">
    <div class="form_div" style="margin-right: 0;"><b>{lang hax_rechargedmf:slang18}:</b>
    <input name="optime" type="text" value="$optime" onclick="showcalendar(event, this)" size="15"/> - <input name="edtime" type="text" onclick="showcalendar(event, this)" size="15" value="$edtime"/></div>
    <div class="form_div">
    <input type="submit" class="btbt" name="searchsubmit" value="{lang hax_rechargedmf:slang43}">
    <input type="submit" class="btbt" name="del_all" value="{lang hax_rechargedmf:slang9}"></div>
</div>
</div>
<table class="log_table">
<tr class="log_title">
<tr class="log_title">
<td>{lang hax_rechargedmf:slang44}</td>
<td>{lang hax_rechargedmf:slang11}</td>
<td>{lang hax_rechargedmf:slang12}</td>
<td>{lang hax_rechargedmf:slang13}</td>
<td>{lang hax_rechargedmf:slang14}</td>
<td>{lang hax_rechargedmf:slang15}</td>
<td>{lang hax_rechargedmf:slang16}</td>
<td>{lang hax_rechargedmf:slang17}</td>
<td>{lang hax_rechargedmf:slang30}</td>
<td>{lang hax_rechargedmf:slang18}</td>
<td>{lang hax_rechargedmf:slang19}</td>
</tr>
{if $czlist}
<!--{loop $czlist $val}-->
<tr class="log_row">
<td><input type="checkbox" class="checkbox" name="delete[]" value="{$val['orderid']}" /></td>
<td>{$val['orderid']}</td>
<td><a href="{$_G[siteurl]}home.php?mod=space&uid={$val['uid']}" target="_blank">{$val['usname']}</a></td>
<td>{$val['cradit']}</td>
<td>{$val['money']}{lang hax_rechargedmf:tlang8}</td>
<td>{$val['type']}</td>
<td>{$val['state']}</td>
<td>{if $val['sn']}{$val['sn']}{else}{$blank}{/if}</td>
<td>{if $val['payid']}{$val['payid']}{else}{$blank}{/if}</td>
<td>{$val['time']}</td>
<td>{if $val['zftime']}{$val['zftime']}{else}{$blank}{/if}</td>
</tr>
<!--{/loop}-->
{else}
<tr class="log_row">
<td colspan="11">{lang hax_rechargedmf:slang63}</td>
</tr>
{/if}
<tr>
<td colspan="11" class="bottombt">
    <input type="checkbox" name="chkall" id="chkallQoua" class="checkbox" onclick="checkAll('prefix', this.form, 'delete')"><label for="chkallQoua">{lang hax_rechargedmf:slang58}</label>
    <input type="submit" class="btbt" id="submit_forumsets" name="forumsets" title="submit_tips" value="{lang hax_rechargedmf:slang52}">
    <div class="log_amount">{lang hax_rechargedmf:slang59} {lang hax_rechargedmf:slang60} = {$thisczcount}{lang hax_rechargedmf:slang53} , {lang hax_rechargedmf:slang61} = {if $thisczmoney}{$thisczmoney}{else}0.00{/if}{lang hax_rechargedmf:tlang8}</div>
    {$multi}
</td>
</tr>
</table>
</form>
</div>
<script>
jQuery(function() {
    jQuery(document).on("click",".log_tblock", function(e){
        var obj = jQuery(this).find(".ltb_ctrl");
        if(obj.length>1){
            obj.each(function(key , value) {
                if(!jQuery(value).hasClass("ahide")){
                    jQuery(value).addClass("ahide");
                    if(key>=obj.length-1){
                        obj.eq(0).removeClass("ahide");
                    }else{
                        obj.eq(key+1).removeClass("ahide");
                    }
                    return false;
                }
            });
        }
    });
});
</script>